/* Add custom styles for additional tweaks */
h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  footer {
    background-color: #f8f9fa; /* Override Bootstrap color */
  }
  
  .card {
    border: 2px solid #ddd; /* Add a border to cards */
    border-radius: 10px;
  }
  
  .card img {
    border-bottom: 2px solid #ddd; /* Add styling to the image */
  }
  .footer-custom {
    background-color: rgba(149, 239, 149, 0.386);
    /* Green background */
    color: green;           /* Green text */
  }
    